<h2><%= "#{@athlete.first_name} #{@athlete.last_name}" %></h2>
<br>
<%= link_to "Edit Athlete Information", edit_athlete_path(@athlete), class: "button small" %>

<table class="center">
  <thead>
    <tr>
      <th>Competition</th>
      <th>Date</th>
      <th>Place #</th>
    </tr>
  </thead>
  <tbody>
    <% @athlete.competitions.each do |comp| %>
      <tr>
        <td><%= comp.name %></td>
        <td><%= comp.start_date %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
