<div class="row">
  <div class="big-text">
    <div class="small-12 small-centered columns">
      <h1>Chalkboard</h1>
      <h3>Scorekeeping and Live Scoreboards for Climbing Competitions</h3>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="big-text">
    <div class="small-12 small-centered columns">
      <%= link_to "Competitions", competitions_path, class: "button large" %>
      &nbsp;&nbsp;
      <%= link_to "Athletes", athletes_path, class: "button large" %>
    </div>
  </div>
</div>
