@import "variables";

.flash-alert {
  background-color: rgba( $red, .7);
}

.flash-notice {
  background-color: rgba( $black, .3);
}

.flash {
  text-align: center;
  border-radius: 7px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}
