@import "variables";

.welcome {
  background-image: image-url("splash_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  position: relative;
  text-align: center;
}

.big-text {
  margin: 0 auto;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 120px;

  h1 {
    color: $white;
    font-family: Rock Salt;
    font-size: 115px;
  }

  h3 {
    color: $white;
  }
}

.button.large {
  font-family: Rock Salt;

}
