$topbar-bg-color: #3498db;
$button-bg-color: #EA7676;
$white: #fff5f5;
$pink: #eb7676;
$green: #61B800;
$blue: #3498db;
$black: #000000;
$red: #CC2C00;
$dark-red: #851D00;
$table-red: #470f00;
$gray: #383434;
$red-gray: #633934;
$border: #dddddd;
